{% extends "base.html" %}

{% block content %}

<div class='container pb-2 px-5' xmlns="http://www.w3.org/1999/html">
    <h1 id="name" class="title is-4 pb-3">Status</h1>

    <h2 class="title is-5 pb-3">Semantic index</h2>
    {% if idx_overview|length > 0 %}
    <table class="table is-fullwidth is-hoverable">
        <thead>
            <tr>
                <th>Index</th>
                <th>Current</th>
                <th>Docs</th>
                <th>Actions</th>
        </tr>
        </thead>
        <tbody>
       {% for idx in idx_overview %}
            <tr>
                <td>
                    {{idx['name']}}
                </td>
                <td>
                    {% if idx['is_current']==true %}
                    &#10004;
                    {% endif %}
                </td>
                <td>
                    {{idx['docs']}}
                </td>
                <td>
                    {% if idx['is_current']==false %}
                    <a class="mr-5" href="{{ url_for('status_bp.idx_current',name=idx['name']) }}">
                        Make current
                    </a>
                    <a class="delete_idx_anchor" href="{{ url_for('status_bp.idx_delete',name=idx['name']) }}">
                        Delete
                    </a>
                    {% endif %}
                </td>
            </tr>
       {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You have no semantic index, create one</p>
    {% endif %}

{% include 'deleteidx.html' %}

<script>
	$(".closeredirect").click(function(e){
		window.location.replace("{{ url_for('status_bp.status') }}")
	})
</script>

{% endblock %}