{% extends "base.html" %}

{% block content %}
                <pre style="margin:auto; background-color: #FFF; ">

..........###......................................###
..........####...........####......................###
..........####...........####......................###
..........####.####......####.................###..###    We could not find the page
..........####.####......####.####............###..###
.....###..####.####......####.####..##........###..###    Browse to the home page and try again!
.##..###..####.####..##..####.####..###..##...###..###
###..###..####.####.####.####.####..###.####..###..###
###..###..####.####.####.####.####..###.####..###..###
.##..###..####.####..##..####.####..###..##...###..###
.....###..####.####......####.####..##........###..###
......#...####.####......####.####............###..###
..........####.####......####.................###..###
..........####...........####......................###
..........####...........####......................###
..........###......................................###

                </pre>
{% endblock %}