{% extends "base.html" %}

{% block content %}
                <pre style="margin:auto; background-color: #FFF; ">

..........###......................................###
..........####...........####......................###
..........####...........####......................###
..........####.####......####.................###..###    There was an error
..........####.####......####.####............###..###
.....###..####.####......####.####..##........###..###    We are working on that!
.##..###..####.####..##..####.####..###..##...###..###
###..###..####.####.####.####.####..###.####..###..###
###..###..####.####.####.####.####..###.####..###..###
.##..###..####.####..##..####.####..###..##...###..###
.....###..####.####......####.####..##........###..###
......#...####.####......####.####............###..###
..........####.####......####.................###..###
..........####...........####......................###
..........####...........####......................###
..........###......................................###
                </pre>
{% endblock %}