{% extends "base.html" %}
{% set active_page = "landing" %}

{% block content %}
                <pre style="margin:auto; background-color: #FFF; ">
..........###......................................###
..........####...........####......................###
..........####...........####......................###
..........####.####......####.................###..###    Connection error
..........####.####......####.####............###..###
.....###..####.####......####.####..##........###..###    Browse to the home page and try again!
.##..###..####.####..##..####.####..###..##...###..###
###..###..####.####.####.####.####..###.####..###..###
###..###..####.####.####.####.####..###.####..###..###
.##..###..####.####..##..####.####..###..##...###..###
.....###..####.####......####.####..##........###..###
......#...####.####......####.####............###..###
..........####.####......####.................###..###
..........####...........####......................###
..........####...........####......................###
..........###......................................###
                </pre>
{% endblock %}