<form class="mt-4" method="post" action="">
    <div class="field has-addons mb-1">

        <div class="control is-expanded">
            <input name="q" autocomplete="off" class="input search-bar" type="text" placeholder="Ask a question">
        </div>

        <div class="control has-icons-left">
            <button id="chat" disabled type="submit" class="button search-button" autocomplete="off" style='background-image: url({{url_for("minipilot_bp.static",filename="static/images/magnifyingglass.svg")}}); background-size: 1.2em; background-repeat: no-repeat; background-position: 13px center; width: 45px;'>
            </button>
        </div>
    </div>
    <a id="reset" href="#">restart the conversation</a>
</form>


<script>
    $(".input").on("change keyup blur input reset", function() {
        if (this.value.length){
            $("#chat").prop("disabled", false)
        }
        else {
            $("#chat").prop("disabled", true);
        }
    });

    $("#reset").click(function(e){
        e.preventDefault();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "{{ url_for('minipilot_bp.reset')}}",
            processData: true,
            success: function(data) {
            $(".box").fadeOut("slow", function() {
                $("#conversation").empty();
            });
            }
        });
    });
</script>