{% extends "base.html" %}

{% block content %}

<div class='container pb-2 px-5'>
    <section class="hero is-medium">
        <div class="hero-body">
            <div class="columns">
                <div class="column"></div>
                <div class="column is-one-third has-text-centered">

                </div>
                <div class="column"></div>
            </div>
        </div>
    </section>
    <div class="columns mt-4 mb-4">
        <div class="column">
            content
        </div>
        <div class="column is-two-thirds">
            content
        </div>
        <div class="column">
            content
        </div>
    </div>
</div>
{% endblock %}