.bubble {
    display: block;
    position: relative;
    padding: 16px;
    -webkit-border-radius: 0.375rem;
    -moz-border-radius: 0.375rem;
    border-radius: 0.375rem;
    margin-bottom: 2em;
    border: 1px solid;
    --tw-border-opacity: 1;
    border-color: rgb(22 51 65 / var(--tw-border-opacity));
    clear: both;
}

ul, ol{
    padding-left: 5%;
}

.bubble-left {
    float: left;
    max-width:90%;
    background-color: #FAFAFE;
    color:#000;
    border-top-left-radius: 0px;
}

.bubble-right {
    float:right;
    margin-left:10%
    max-width:40%;
    background-color: #FFF;
    color:#000;
    border-bottom-right-radius: 0px;
}

#conversation p a{
    color: #5866F6;
}

#conversation p a:hover{
    color: #3728BA;
}

#conversation p li{
    margin-bottom: 10px:
}