/* sticky footer */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.footer {
    padding:0px 30px 0px 30px;
    margin:0px;
    height:110px;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 30;
    border-top: 1px solid #AAA;
    background-color: #EEE;
}

#reset{
    --tw-text-opacity: 1;
    color: rgb(213 45 31 / var(--tw-text-opacity));
}

.search-form{
    padding: 0.5em;
    -webkit-border-radius: 0.375rem;
    -moz-border-radius: 0.375rem;
    border-radius: 0.375rem;
    border: 1px solid;
    --tw-border-opacity: 1;
    border-color: rgb(22 51 65 / var(--tw-border-opacity));
    background-color: #FFF;
}

.search-bar{
    border: 0px;
    overflow-anchor: none;
    font-size: 18px;
    max-width: 100%;
    width: 100%;
}

.search-button:disabled{
    border: 0px;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.search-button{
    border: 0px;
    --tw-text-opacity: 1;
    color: rgb(213 45 31 / var(--tw-text-opacity));
}

*:focus {
    outline: none;
    border: none;
}

.footer a{
    color: #fff;
}

.footer a:hover{
    color: #aaa;
}

body::-webkit-scrollbar{
    display:none;
}

html{
    scrollbar-width:none;
}

#wrapper {
    flex: 1;
}
/* end of sticky footer */

.pagination-link.is-current {
    color:#000;
    --tw-bg-opacity: 1;
    background-color: rgb(220 255 30 / var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgb(9 26 35 / var(--tw-border-opacity));
}

textarea {
    resize: none;
}

.redis-yellow{
    color:#000;
    background-color: rgb(220 255 30);
    border-color: rgb(9 26 35);
}
/* Style the label to be a flex container */
.checkbox-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space between label text and checkbox */
    width: 100%; /* Full width of the container */
    cursor: pointer; /* Pointer cursor for the label */
}

input[type="checkbox"] {
    accent-color:  #EEE;
    width: 20px;
    height: 20px;
}

hr{
   border: 1px solid #ccc;
}
